@CHARSET "ISO-8859-1";

body {
	color: blue;
}

.main-inner .widget .post-body ul li {
	color: purple;
}

.main-inner .widget {
 	background-color : navy;
	border : purple;
}

.date-outer {
	background-color: red;
}

.footer-fauxborder-left{
	background-color : navy;
}

#blog-pager{
	background-color : navy;
}

.valorTablaVerde{
	color : green;
}

.valorTablaRojo{
	color : red;
}

.valorTablaAmarillo{
	color : yellow;
}

.valorTablaNaranja{
	color : orange;
}